.app {
  height: 100vh;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 
.button:not(:last-child){
  margin-bottom: 10px;
}

.button {
  max-width: 250px;
  width: 250px;
  padding: 15px 30px;
  font-size: 25px;
  font-weight: 700;
  border: 2px solid transparent;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.button:hover{
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.text{
  word-wrap:break-word;
  font-size: 20px;
  color: #fff;
  text-align: center;
  max-width: 900px;
}

@media(max-width: 600px){
  .text{
    max-width: 300px;
  }
}