html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(55,59,68);
  background: linear-gradient(356deg, rgba(55,59,68,1) 0%, rgba(66,134,244,1) 100%);
  font-family: sans-serif;
  font-size: 20px;
}
